---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/blog/BlogCard.astro';

const posts = [
  // ... existing posts
];
---

<Layout title="Project Updates">
  <main class="blog">
    <h1>Project Updates</h1>
    <!-- Rest of the file remains the same -->
  </main>
</Layout>